@font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins-Regular.otf") format("opentype");
}

.max-app-width{
    max-width: 80.625rem;
    margin: 0 auto;
}

.body{
    margin: 0rem;
    background: #ebebeb;
}
.background-white{
    background-color: #ffffff;
}
.header{
    max-width: 125.000rem;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
}

.header-conatiner{
    display: table;
    height: 2.875rem;
    width: 100%;
}

.logo-container{
    width: 25%;
    display: table-cell;
    vertical-align: middle;
}
.help-icons{
    display: table-cell;
    vertical-align: middle;
}

.menu{
    margin: 0;
    list-style: none;
    list-style-type: none;
    padding: 0rem;
}
.menu>.help-icon{
    display: table-cell;
    float: right;
    vertical-align: middle;
}
.menu>.help-icon:not(:first-child){
    margin-right: 1.563rem;
}

.bell-icon-list-item{
    padding-left: 2.125em;
    border-left: 0.063em solid rgba(52, 57, 63, 0.36);
}
.menu>.help-icon.manager-view{
    margin-right: 1.500rem;
    display: table;
}

.manager-view>span:last-child{
    vertical-align: middle;
    display: table-cell;
}

.manager-view>span:first-child{
    margin-right: 0.750rem;
}

.no-decoration{
    text-decoration: none;
}

.navigation-bar{
    height: 2.250rem;
    width: 100%;
    background-color: #101b33;
}

.clear{
    overflow: hidden;
}

.navigation-row{
    display: table-cell;
    vertical-align: middle;
}

.navigation-row>.menu>li{
    float: left;
    vertical-align: middle;
}

.navigation-table>.menu>.nav-link-listitem:not(:last-child){
    margin-right: 1.250rem;
}
.navigation-table>.menu .nav-link{
    text-decoration: none;
    color: white;
}
.navigation-table{
    display: flex   ;
    align-items: center;
    width: 100%;
    height: 100%;
}

.notification-section{
    width: 19.500rem;
    background-color: #ffffff;
    float: right;
}

.dashboard-section{
    width: calc(100% - 19.750rem);
    display: inline-block;
}

.project-hours{
    width: 19.750rem;
    height: 7.500rem;
    margin-right: 0.625rem;
    float: left;
}

.rounded-border{
    border-radius: 0.313rem;
    box-shadow: 0rem 0.063rem 0.256rem 0.063rem rgba(128, 128, 128, 0.16);
}
.container{
    margin-top: 7.250rem;
}

.submit-timesheet{
    display: table;
    position: fixed;
    top: 4.125rem;
    right: 1.875rem;
    width: 12.500rem;
    height: 1.875rem;
    object-fit: contain;
    border-radius: 1.344rem;
    box-shadow: 0rem 0.188rem 1.025rem 0.100rem rgba(128, 128, 128, 0.4);
    background-color: #00aacb;
}

.submit-timesheet>.submit-link{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.white-color{
    color: #e9edf0;
}

.tick-icon{
    margin-right: 0.500rem;
}

.projects{
    margin-left: 0.750rem;
}

.large-text{
    font-size: 1.375rem;
}
.champian-ranking-bar{
    width: 8.000rem;
    height: 0.250rem;
    display: inline-block;
    background-color: #e5e5e5;
    border-radius: 0.188rem;
}

.current-champian-ranking{
    height: 0.250rem;
    width: 5.000rem;
    border-radius: 0.188rem;
    background-image: linear-gradient(272deg, #24cced 1%, #1f7c8e);
}
.left-legend-points{
    margin-left: 0.813rem;
    font-size: 0.625rem;
}
.color-blue{
    color: #00aacb;
}

.week-project{
    font-size: 0.750rem;
    width: 40.250rem;
    height: 7.500rem;
    display: inline-block;
}

.progress-ribbon{
    width: 30.250rem;
    margin-left: 1.875rem;
    overflow: hidden;
    margin-top: 1.125rem;
}

.prorgess-ribbon-item{
    float: left;
    height: 0.438rem;
}

.background-purple{
    background-color: #9a52b6;
}

.background-blue{
    background-color: #2c97df;
}

.background-orange{
    background-color: #f59900;
}

.background-green{
    background-color: #34b86f;
}

.background-grey{
    background-color: #b7c0cf;
}

.progress-ribbon>.prorgess-ribbon-item:nth-child(1){
    width: 11.250rem;
}

.progress-ribbon>.prorgess-ribbon-item:nth-child(2){
    width: 4.250rem;
}
.progress-ribbon>.prorgess-ribbon-item:nth-child(3){
    width: 6.500rem;
}
.progress-ribbon>.prorgess-ribbon-item:nth-child(4){
    width: 7.750rem;
}

.prorgess-ribbon-item:first-child { 
    border-radius: 1.563rem 0rem 0rem 1.563rem;
}

.prorgess-ribbon-item:last-child { 
    border-radius: 0rem 1.563rem 1.563em 0rem;
}

.progress-ribbon .prorgess-ribbon-item:not(:first-child) {
    margin-left: 0.125rem;
}

.project-detail-listitem{
    float: left;
}

.project-detail-list{
    overflow: hidden;
}

.project-name-container{
    margin-left: 1.875rem;
    margin-top: 0.875rem;
}

.project-color-bar{
    width: 0.250rem;
    border-radius: 0.313rem 0.313rem 0.313rem 0.313rem;
}
.project-bar{
    height: 0.875rem;
    display: inline-block;
}
.project-row{
    margin-left: 1.875rem;
    margin-top: 1.375rem;
}

.project-detail-listitem:not(:first-child) {
    margin-left: 1.875rem;
}

.project-name-bar{
    margin-left: 0.625rem;
}

.project-work-on{
    margin-left: 0.813rem;
}

*{
    font-family: 'Poppins';
}

.timesheet-section{
    margin-top: 1.250rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 24.375rem;
}

.timesheet-header{
    margin-left: 1.125rem;
    margin-right: 1.125rem;
    height: 2.875rem;
    display: table;
    width: 100%;
}

.timesheet-section, .day-project{
    box-shadow: 0.006rem 0.063rem 0.256rem 0.063rem rgba(128, 128, 128, 0.16);
    border-radius: 0.313rem;
}

.timesheet-header>.timesheet-heading{
    font-size: 0.813rem;
    display: inline-block;
    font-weight: 600;
    width: 25%;
    display: table-cell;
    vertical-align: middle;
}

.body{
    font-size: 16px;
}

.color-sky-blue{
    color: #3cbed7;
}

.timesheet-header>.timesheet-options{
    overflow: hidden;
    width: 74%;
    display: table-cell;
    vertical-align: middle;
}

.option-list-item{
    float: right;
}

.option-list-item:not(:first-child){
    margin-right: 1.750rem;
}

.option-list-item:first-child{
    margin-right: 1.875rem;
}

.day-heading{
    font-size: 1.125rem;
}

.timesheet-body{
    margin-left: 1.125rem;
    margin-right: 1.125rem;
}

.day-timesheet{
    margin-top: 1.250rem;
}
.day-timesheet>.day-project:first-child {
    margin-top: 0.750rem;
}

.day-timesheet>.day-project:not(:first-child){
    margin-top: 0.875rem;
}

.project-details-container{
    display: table-cell;
    vertical-align: middle; 
    width: 70%;
}

.project-name-block, .project-comment-block{
    margin-left: 1.375rem;
}

.day-project{
    height: 4.000rem;
    display: table;
    width: 100%;
}

.project-comment-block{
    margin-top: 0.625rem;
}

.comment-icon{
    float: left;
    margin-right: 0.500rem;
}

.time-spent{
    margin-top: 0.875rem;
}

.options-container, .time-details-container{
    display: table-cell;
    vertical-align: middle;
}

.time-details-container{
    width: 20%;
}

.options-list>.options-listitem{
    float: left;
}

.project-options{
    margin-left: 1.000rem;
}


.project-time-item{
    height: 50%;
    display: table;
    width: 100%;
}

.champian-image-container, .clock-image-container{
    display: table-cell;
    vertical-align: middle;
    width: 15%;
}

.champian-icon, .clock-icon{
    margin-left: 1.250rem;
}

.champian-details-container, .overall-project-details{
    display: table-cell;
    vertical-align: middle;
}
.notification-header{
    margin-top: 1.250rem;
    line-height: normal;
    margin-left: 0.938rem;
    font-weight: 600;
}

.notification-block{
    display: table;
    width: 100%;
    height: 4.375rem;
}

.confirm-icon-block, .notification-detail, .due, .more-notification-details{
    display: table-cell;
    vertical-align: middle;
}

.notification-detail{
    width: 80%;
}

.confirm-icon-block{
    width: 12%;
}

.confirm-icon-block>input[type="radio"]{
    margin-left: 0.938rem;
}

.action-detal-text{
    font-weight: 600;
}

.due-anchor{
    text-align: center;
    height: 1.063rem;
    border-radius: 0.906rem;
    font-size: 0.750rem;
    color: white;
    float: right;
    margin-right: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.313rem;
}

.warning{
    background-color: #ea4b36;
}

.person-detail{
    margin-top: 0.750rem;
}

.notifications>.notification-block:not(:last-child){
    border-bottom: 0.125rem solid #e9edf0;
}

.success{
    text-decoration: line-through;
}
.notification-summary{
    background-color: #f3fbfd;
    height: 2.875rem;
}

.article-divider{
    width: 16.250rem;
    background: #e9edf0;
    height: 0.125rem;
    margin-left: 1.625rem;
}